@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
}

.grid {
  display: grid;
  grid-template-rows: 1fr 1fr auto 1fr;
  grid-template-areas:
    "header"
    "section"
    "main"
    "footer";
  height: 100vh;
}

body {
  font-family: "Roboto", Courier, monospace;
}
header {
  grid-area: header;
  background-color: blueviolet;
}

section {
  grid-area: section;
  display: flex;
  flex-direction: column;
  background-color: ghostwhite;
  align-items: center;
}
span {
  display: flex;
  font-size: medium;
  justify-content: center;
}
.select {
  margin-top: 10px;
}
select {
  width: 300px;
  height: 30px;
}

main {
  grid-area: main;
}
footer {
  grid-area: footer;
  background-color: blueviolet;
}
.media {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}
.media i {
  padding: 5px;
}
.fa-bars {
  cursor: pointer;
}

.Copyrigth {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  color: ghostwhite;
}
.escritorio {
  display: none;
}
div ul {
  display: flex;
  text-decoration: none;
  list-style: none;
  color: white;
  margin-left: 5px;
}
li {
  margin-left: 4px;
}

li a {
  text-decoration: none;
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  align-items: center;
}

.thumb {
  display: flex;
  justify-content: center;
  padding: 20px 20px 20px 20px;
}
.thumb img {
  width: 80%;
filter: grayscale();

}
.thumb img:hover{

  filter:grayscale(5%);
  transition: all 1s ease;
}

.article {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
button {
  font-size: medium;
  border-radius: 5px;
  width: 100px;
  cursor: pointer;
  background-color: blueviolet;
  color: white;
  margin-top: 10px;
}

.pg {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.pg a {
  display: flex;
  text-decoration: none;
  padding: 6px;
  border: 1px solid;
  border-color: black;
  color: black;
  cursor: pointer;
}

div img {
  width: 2rem;
  border-style: #dedede;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
div p {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: center;
}

label {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
input {
  width: 30rem;
}

.img {
  animation-name: encendido;
  animation:encendido 1s infinite;
  animation-duration: 1;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
}


@keyframes encendido {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(-3px);
  }
  20% {
    transform: translateY(3px);
  }
  30% {
    transform: translateY(-3px);
  }
  40% {
    transform: translateY(3px);
  }
  50% {
    transform: translateY(-3px);
  }
  60% {
    transform: translateY(3px);
  }
  70% {
    transform: translateY(-3px);
  }
  80% {
    transform: translateY(3px);
  }
  90% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (min-width: 576px) {
  .grid {
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 20% auto 20%;
    grid-template-areas:
      "header section"
      "header main "
      "footer main";
  }

  .fa-bars {
    display: none;
  }

  menu {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .header {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 25px;
    align-items: center;
    align-items: flex-start;
  }
  div ul {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    color: ghostwhite;
  }

  li {
    list-style: none;
    padding: 5px;
    color: ghostwhite;
  }

  .item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
  }

  .escritorio {
    display: inline;
  }

  img {
    width: 200px;
    height: 200px;
  }
  .thumb img {
    width: 100%;
  }

  div img {
    width: 7rem;
    border-style: #dedede;
  }

  input {
    width: 50rem;
  }
}
